/* mas claro */
/* mas fuerte */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.bg {
  background: linear-gradient(45deg, rgb(23, 23, 23) 0%, rgb(37, 37, 37) 100%);
}

.buttonPrimary {
  animation: magicText 3s linear infinite;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), #4cc3ff, #00acff, #4cc3ff, rgb(255, 255, 255));
  animation-play-state: paused;
  background-size: 200%;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.buttonPrimary:hover {
  animation-play-state: running;
}

.buttonSecondary {
  background: linear-gradient(rgb(5, 23, 32), rgb(5, 23, 32)) padding-box, linear-gradient(to right bottom, rgb(255, 255, 255), #00acff) border-box;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@keyframes magicText {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
h1 {
  font-size: 90px;
  font-weight: Bold;
  color: white;
}

h2 {
  font-size: 64px;
  font-weight: Bold;
  color: white;
}

h3 {
  font-size: 45px;
  font-weight: 600;
  color: white;
}

h4 {
  font-size: 32px;
  font-weight: 600;
  color: white;
}

h5 {
  font-size: 23px;
  font-weight: 600;
  color: white;
}

p, button, h6 {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.micro {
  font-size: 11px;
  font-weight: 500;
  color: gray;
}

/* Componentes */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem 4rem;
  position: relative;
  z-index: 2;
  height: 71px;
  box-shadow: 0 0 3px gray;
}
.nav .logo a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.nav .logo a:hover {
  color: lightcoral;
}
.nav .links {
  margin-left: 2rem;
  display: flex;
  gap: 1rem;
}
.nav .search {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  color: white;
  gap: 1rem;
}
.nav .search .input {
  box-shadow: 0 0 2px white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}
.nav .search .input input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  color: white;
}
.nav .conectWallet button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: 0 0 2px white;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  /* Colors */
}
.nav .conectWallet button p {
  animation: magicText 3s linear infinite;
  background: linear-gradient(to right, white, lightseagreen, lightseagreen, lightseagreen, white);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav .conectWallet button:hover {
  cursor: pointer;
}
.nav .useIcon img {
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px lightseagreen;
  box-shadow: 0 0 2px lightseagreen;
}
.nav .login a, .nav .login p {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  box-shadow: 0 0 2px white;
  text-decoration: none;
  color: white;
}
.nav .login a:hover, .nav .login p:hover {
  color: lightcoral;
}

.heroWrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 5rem;
  height: calc(100vh - 71px);
}
.heroWrapper .starsWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.heroWrapper .starsWrapper .star {
  position: absolute;
  color: white;
}
.heroWrapper .cta {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  gap: 1rem;
  z-index: 2;
}
.heroWrapper .img {
  display: flex;
  align-items: center;
  width: 500px;
  text-align: center;
  transform: skew(-3deg);
  transition: 1s;
}
.heroWrapper .img:hover {
  transform: skew(0);
}
.heroWrapper .img img {
  max-width: 450px;
  border-radius: 50%;
  box-shadow: 40px 10px 100px aqua;
  transition: 1s;
}
.heroWrapper .img img:hover {
  box-shadow: 0 0 50px aqua;
}
.heroWrapper .buttons {
  display: flex;
  gap: 1rem;
}

.loginContainer {
  height: calc(100vh - 71px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.loginContainer .loginFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.loginContainer .loginFormWrapper .textoLogin {
  font-size: 2rem;
  padding: 1rem;
}
.loginContainer .loginFormWrapper input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}
.loginContainer .loginFormWrapper .error {
  color: red;
}
.loginContainer .loginFormWrapper .loginError {
  height: 20px;
}
.loginContainer .loginFormWrapper .link {
  color: lightskyblue;
  cursor: pointer;
  user-select: none;
}

.profileContainer {
  height: calc(100vh - 71px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 1rem;
}
.profileContainer .button {
  border: none;
  padding: 0.5rem 1rem;
  color: black;
  background-color: white;
  box-shadow: 0 0 5px gray;
}
.profileContainer .button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px white;
}
.profileContainer .CambiarNombre {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileContainer .CambiarNombre form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: gray;
  padding: 2rem;
  gap: 0.5rem;
}
.profileContainer .CambiarNombre form input {
  padding: 0.5rem 1rem;
}
.profileContainer .CambiarNombre form input[type=submit] {
  cursor: pointer;
  background-color: azure;
  width: 100%;
}

.notAllowedContainer {
  height: calc(100vh - 71px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
}
.container .filtrogridwrap {
  display: flex;
  gap: 1rem;
}
.container .filtros {
  width: 200px;
  border: 1px white solid;
  height: 400px;
}
.container .nftGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 782px;
}
.container .nftGrid .nft {
  position: relative;
  width: 250px;
  height: 300px;
}
.container .nftGrid .nft:hover {
  cursor: pointer;
}
.container .nftGrid .nft:hover .info {
  opacity: 1;
  transition: 0.5s;
}
.container .nftGrid .nft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .nftGrid .nft .info {
  height: 80px;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.8) 0%, rgba(2, 0, 36, 0.56) 55%, rgba(2, 0, 36, 0.02) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  opacity: 0;
}
.container .nftGrid .nft .info p {
  color: white;
}

@keyframes test {
  100% {
    transform: translateY(-75px);
  }
}
.nftDetailContainer {
  display: flex;
  height: calc(100vh - 71px);
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: white;
}
.nftDetailContainer .info {
  height: 350px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}
.nftDetailContainer .info .image {
  width: 300px;
  height: 300px;
}
.nftDetailContainer .info .nombreyduenio {
  height: auto;
  padding-bottom: 1rem;
}
.nftDetailContainer .info .description {
  height: 100px;
  padding: 0.5rem;
}
.nftDetailContainer .info .precioycomprar {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.nftDetailContainer .info .precioycomprar button {
  padding: 0.5rem 1rem;
  background-color: aquamarine;
  color: black;
  border: none;
  border-radius: 5px;
  box-shadow: -1px 1px 5px white;
  cursor: pointer;
}
.nftDetailContainer .info .precioycomprar button:hover {
  box-shadow: 0 0 5px white;
}

/*# sourceMappingURL=index.css.map */
